<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oneblog.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="oneblog.model.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="INTEGER" />
    <result column="original_author" property="originalAuthor" jdbcType="VARCHAR" />
    <result column="original_target" property="originalTarget" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="oneblog.model.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, author, original_author, original_target, title, type, category, tags, publish_time, 
    update_time, status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="oneblog.model.Article" >
    insert into article (id, author, original_author, 
      original_target, title, type, 
      category, tags, publish_time, 
      update_time, status, content
      )
    values (#{id,jdbcType=INTEGER}, #{author,jdbcType=INTEGER}, #{originalAuthor,jdbcType=VARCHAR}, 
      #{originalTarget,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{category,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="oneblog.model.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="originalAuthor != null" >
        original_author,
      </if>
      <if test="originalTarget != null" >
        original_target,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=INTEGER},
      </if>
      <if test="originalAuthor != null" >
        #{originalAuthor,jdbcType=VARCHAR},
      </if>
      <if test="originalTarget != null" >
        #{originalTarget,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="oneblog.model.Article" >
    update article
    <set >
      <if test="author != null" >
        author = #{author,jdbcType=INTEGER},
      </if>
      <if test="originalAuthor != null" >
        original_author = #{originalAuthor,jdbcType=VARCHAR},
      </if>
      <if test="originalTarget != null" >
        original_target = #{originalTarget,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="oneblog.model.Article" >
    update article
    set author = #{author,jdbcType=INTEGER},
      original_author = #{originalAuthor,jdbcType=VARCHAR},
      original_target = #{originalTarget,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      category = #{category,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="oneblog.model.Article" >
    update article
    set author = #{author,jdbcType=INTEGER},
      original_author = #{originalAuthor,jdbcType=VARCHAR},
      original_target = #{originalTarget,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      category = #{category,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <resultMap id="detailInfo" type="oneblog.web.response.vo.ArticleDetailVO">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="original_author" property="originalAuthor" jdbcType="VARCHAR" />
    <result column="original_target" property="originalTarget" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <association property="category" javaType="oneblog.model.Category">
      <id column="cate_id" property="cateId" jdbcType="INTEGER"/>
      <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
    </association>
    <association property="author" javaType="oneblog.model.User">
      <id column="user_id" property="userId" jdbcType="INTEGER"/>
      <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="detailFields">
    SELECT
          a.id,
          original_target,
          original_author,
          title,
          content,
          a.type,
          tags,
          publish_time,
          update_time,
          c.cate_id,
          c.cate_name,
          v.views,
          l.likes,
          u.user_name,
          user_id
      FROM
          article a
          LEFT JOIN category c ON a.category = c.cate_id
          LEFT JOIN article_views v on a.id=v.article_id
          LEFT JOIN article_likes l on a.id=l.article_id
          LEFT JOIN user u on a.author=u.user_id
  </sql>
  <select id="selectDetailInfoByIdWithUser" resultMap="detailInfo" parameterType="java.lang.Integer">
  <include refid="detailFields"></include>
    WHERE
        a.id = #{articleId}
        and a.author=#{userId}
    limit 1
  </select>
  <select id="selectDetailInfoById" resultMap="detailInfo" parameterType="java.lang.Integer">
    <include refid="detailFields"></include>
    WHERE
    a.id = #{articleId}
    limit 1
  </select>
  <select id="selectDetailInfoList" resultMap="detailInfo" parameterType="java.lang.Integer">
    <include refid="detailFields"></include>
    where a.author=#{userId}
  </select>

  <select id="count" resultType="java.lang.Long">
    select count(1) from article
  </select>
</mapper>