<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oneblog.dao.ArticleCountMapper" >
  <resultMap id="BaseResultMap" type="oneblog.model.ArticleCount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, type_id, count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_count
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select
    type_id, count
    from article_count
    where type = #{type,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_count
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="oneblog.model.ArticleCount" useGeneratedKeys="true" keyProperty="id">
    insert INTEGERo article_count (id, `type`, type_id,
      count)
    values (NULL, #{type,jdbcType=TINYINT}, #{typeId,jdbcType=INTEGER},
      #{count,jdbcType=INTEGER})
  </insert>

  <update id="updateCount">
    update article_count set count = count + #{count,jdbcType=INTEGER}
    where type_id = #{typeId,jdbcType=INTEGER} and type = #{type,jdbcType=TINYINT}
  </update>
  <update id="batchUpdateCount">
    update article_count set count = count + #{count,jdbcType=INTEGER}
    where type = #{type,jdbcType=TINYINT}
    <if test="typeIds != null">
      and type_id in
      <foreach collection="typeIds" item="typeId" open="(" close=")" separator=",">
        #{typeId}
      </foreach>
    </if>
  </update>
</mapper>