<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oneblog.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="oneblog.model.Category" >
    <id column="cate_id" property="cateId" jdbcType="INTEGER" />
    <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    cate_id, cate_name, created_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category
    where cate_id = #{cateId,jdbcType=INTEGER}
    limit 1
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from category
    where status = 1
  </select>
  <select id="count" resultType="int">
    select
    count(1)
    from category
    where status = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category
    where cate_id = #{cateId,jdbcType=INTEGER}
    limit 1
  </delete>
  <insert id="insertSelective" parameterType="oneblog.model.Category" useGeneratedKeys="true" keyProperty="cateId">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cateId != null" >
        cate_id,
      </if>
      <if test="cateName != null" >
        cate_name,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cateId != null" >
        #{cateId,jdbcType=INTEGER},
      </if>
      <if test="cateName != null" >
        #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="oneblog.model.Category" >
    update category
    <set >
      <if test="cateName != null" >
        cate_name = #{cateName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where cate_id = #{cateId,jdbcType=INTEGER}
  </update>

  <resultMap id="cateArticleCount" type="oneblog.web.response.vo.CateArticleCountVO">
    <id column="cate_id" property="cateId" jdbcType="INTEGER" />
    <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
    <result column="article_count" property="articleCount" jdbcType="INTEGER" />
  </resultMap>

  <sql id="articleCountSql">
    SELECT
        cate_id,
        cate_name,
        count( a.id ) AS article_count
    FROM
        category c
        LEFT JOIN article a ON c.cate_id = a.category
  </sql>

  <select id="getArticleCountById" parameterType="java.lang.Integer" resultMap="cateArticleCount">
    <include refid="articleCountSql"></include>
    where cate_id=#{cateId}
    GROUP BY
    cate_id
  </select>
  <select id="getArticleCountList" resultMap="cateArticleCount">
    <include refid="articleCountSql"></include>
    GROUP BY
    cate_id
    order by cate_id
  </select>
</mapper>