<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oneblog.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="oneblog.model.UserRole" >
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="oneblog.model.UserRole" >
    insert into user_role (user_id, role_id)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>

  <select id="selectUserRole" parameterType="int" resultMap="BaseResultMap">
    select user_id, role_id from user_role where user_id=#{userId} limit 1;
  </select>
  <update id="updateUserRole" parameterType="UserRole">
    update user_role set role_id = #{roleId} where user_id = #{userId}
  </update>
</mapper>